.wholesale-benefits-bullets {
    margin-top: 3rem;
    padding: 4rem 2rem;
    border-radius: 15px;

    &__container {}

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        // color: #4e2a84;
        color: var(--primary-color);
    }

    &__view-all {
        background: none;
        border: none;
        // color: #4e2a84;
        color: var(--primary-color);
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;

        .benefits-bullets__arrow {
            margin-left: 6px;
        }
    }

    &__grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
}

.wholesale-bullet-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-8px);
        background: var(--primary-background-hover);
    }

    &__icon {
        font-size: 2rem;
        background-color: rgb(244, 243, 255);
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 50%;
        transition: background-color 0.3s;
        margin-bottom: 0.7rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #333;
    }

    &__list {
        padding-top: 0.5rem;
        padding-left: 1.25rem;
        list-style-type: disc;

        li {
            font-size: 0.95rem;
            color: #444;
            margin-bottom: 0.5rem;

            &::marker {
                // color: #4e2a84;
                color: var(--primary-color);
            }
        }
    }

    &__link {
        margin-top: auto;
        font-weight: 500;
        // color: #4e2a84;
        color: var(--primary-color);
        display: inline-flex;
        align-items: center;
        gap: 4px;
        font-size: 0.95rem;

        &:hover {
            text-decoration: underline;
        }
    }
}