:root {
    --primary-background: linear-gradient(135deg, #b2069b, #3909c2);
    --primary-color: #5121d4;
    --primary-color-header: #e71717;
    --primary-color-hover: #460daf;
    --secondary-border-color: #ffce00;
    --primary-background-hover: #f8f6ff;
}

