.blogpagecards {
    margin-top: 3rem;

    &__header {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .blogpagecards_head_title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        h2 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 1rem;

            @media (max-width: 600px) {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }

        span {
            font-size: 18px;

            @media (max-width: 600px) {
                font-size: 14px;
            }
        }

        .blogpagecards__view-more {
            display: inline-block;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            // color: #5f00ba;
            color: var(--primary-color);
            // border: 1px solid #5f00ba;
            border: 1px solid var(--primary-color);
            border-radius: 4px;
            text-decoration: none;
            font-weight: 500;
            transition: 0.3s ease;

            &:hover {
                background: var(--primary-background);
                // background-color: #5f00ba;
                color: #fff;
            }
        }
    }

    &__grid {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: repeat(4, 1fr); // default: 4 cards

        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr); // 3 cards
        }

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr); // 2 cards
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr; // 1 card
        }
    }

    .no-blogs-found {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 1.2rem;
        color: #777;
        padding: 2rem 0;
    }

}

.pagination-controls.numbered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;

    .pagination-btn,
    .pagination-arrow {
        padding: 0.4rem 0.8rem;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover:not(.active):not(:disabled) {
            background-color: #e4e4e4;
        }

        &.active {
            // background-color: #7c3aed;
            background: var(--primary-background);
            color: #fff;
            // border-color: #7c3aed;
            border-color: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .pagination-ellipsis {
        padding: 0 0.5rem;
        font-size: 1.2rem;
        user-select: none;
    }
}

.blogresource-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #dee0e2;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }

    &__imgDiv {

        padding: 6px;

        .blogresource-card__image {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16 /9;
            border-radius: 10px;
        }
    }


    &__content {
        padding-block: 1rem;
        padding-inline: 1rem;

        .blogresource-card__type {
            color: #c20000;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            letter-spacing: 3px;
        }

        .blogresource-card__title {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;
            // color: #460daf;
            color: var(--primary-color);
            line-height: 30px;

            @media (max-width: 1400px) {
                font-size: 1.6rem;
            }

            @media (max-width: 1200px) {
                font-size: 1.4rem;
            }

            @media (max-width: 600px) {
                font-size: 1.2rem;
            }
        }

        .blogresource-card__date {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            display: block;
            margin-bottom: 10px;

            @media (max-width: 1200px) {
                font-size: 13px;
            }
        }

        .blogresource-card__author {
            font-size: 14.5px;
            font-weight: 600;
            color: #000;
            display: block;
            margin-bottom: 10px;

            @media (max-width: 1200px) {
                font-size: 13.5px;
            }
        }

        .blogresource-card__desc {
            font-size: 0.9rem;
            color: #000;
            margin-top: 1rem;

            @media (max-width: 1200px) {
                font-size: 14px;
            }
        }

        .blogresource-card__link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            // color: #6c28d9;
            color: var(--primary-color);
            font-size: 1.05rem;
            font-weight: 500;
            text-decoration: none;
            margin-top: 0.5rem;
            transition: all 0.2s ease;

            &:hover {
                // color: #5b21b6;
                color: var(--primary-color-hover);
            }
        }

        &__link-arrow {
            width: 14px;
            height: 14px;
            transition: transform 0.2s ease;
        }
    }
}